body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #fff;
    margin-bottom: 22px;
    padding: 20px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #EFF0F3;
}

.header-block {
    display: flex;
    align-items: center;
    gap: 32px;
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    gap: 48px;
}

.nav a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: #242424;

}

.nav a.active {
    color: #5856D6;
}

.buttons {
    display: flex;
    gap: 8px;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

}

.btn-secondary {
    background-color: #F0F0F0;
    color: #242424;
    display: flex;
    align-items: center;
    gap: 6px;
}

.btn-primary {
    background-color: #5C53E9;
    color: #FFFFFF;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #EEF0F3;
    padding: 10px 14px;
    border-radius: 10px;
    gap: 8px;

}

.search-box input {
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;

}

.header2 {
    background-color: #fff;
    margin-bottom: 22px;
    padding: 32px 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #EFF0F3;

}

.nav2 {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav2 a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #170F49;
    display: flex;
    align-items: center;

}
.button-rounded {
    background-color: #4A3AFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    padding: 18px 24px;
    color: #fff;
    border: none;
    border-radius: 76px;
}


/* Home work */

.header1 {
    background-color: #fff;
    margin-bottom: 22px;
    padding: 12px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #EFF0F3;
    width: 1440px;
}

.header-block1 {
    display: flex;
    align-items: center;
    gap: 120px;
}


.search-box1 {
    display: flex;
    align-items: center;
    border: 1px solid #DFDFDF;
    padding: 12px;
    border-radius: 8px;
    gap: 8px;
    width: auto;
    height: auto;

}

.search-box1 input {
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #707070;
    width: 302px;
    height: 17px;

}

.buttons1 {
    display: flex;
    gap: 40px;
}


.nav1 {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav1 a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: #000000;

}

.nav1 a.active {
    color: #5C53E9;
}

.btn1 {
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;

}


.btn-primary1 {
    background-color: #000000;
    color: #FFFFFF;
}

.btn-secondary2 {
    background-color: #F0F0F0;
    color: #242424;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px;
    border-radius: 6px;
}

.header2 {
    background-color: #fff;
    margin-bottom: 22px;
    padding-right: 36px;
    padding-left: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #EFF0F3;
    width: 1440px;
}


.nav3 {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav3 a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: #000000;

}

.header3 {
    background-color: #111928;
    margin-bottom: 22px;
    padding-right: 36px;
    padding-left: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #EFF0F3;
    width: 1440px;
}

.nav4 {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav4 a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: #FFFFFF

}

.header-block5 {
    display: flex;
    align-items: center;
    gap: 50px;
}


.search-box5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #D6D8DE;
    padding: 10px 10px 10px 20px;
    border-radius: 8px;
    gap: 8px;
    width: 500px;
    height: 44px;

}

.search-box5 input {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: #D6D8DE;
    width: 400px;
    height: auto;
    background-color: #111928;
}

.search-box5 input::placeholder {
    color: #D6D8DE;
}