/* Задание 1: Использование `transform` */

.box {
  width: 200px;
  height: 100px;
  color: white;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 8px;
  transition: transform 0.4s ease;
}

/* 1 Поворот на 20 градусов */
.rotate {
  transform: rotate(20deg); /* rotate(угол) — поворачивает элемент */
  background-color: #2196F3;
}

/* 2 Увеличение масштаба в 1.5 раза */
.scale {
  transform: scale(1.5); /* scale(значение) — изменяет размер элемента */
  background-color: #9C27B0;
}

/* 3 Смещение по осям X и Y */
.translate {
  transform: translate(50px, 20px); /* translate(X, Y) — сдвигает элемент по горизонтали и вертикали */
  background-color: #FF9800;
}

/* 4 Наклон по обеим осям */
.skew {
  transform: skew(20deg, 10deg); /* skew(X, Y) — наклоняет элемент по осям X и Y */
  background-color: #E91E63;
}

/* Дополнительно — эффект при наведении */
.box:hover {
  transform: none; /* При наведении возвращаем в исходное положение */
  cursor: pointer;

}

/* Задание 2: Плавные трансформации с `transition` */

.box1 {
  width: 200px;
  height: 200px;
  background-color: #4CAF50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;

  /* Свойство transition — задаёт плавный переход */
  transition: 
    background-color 0.7s ease, /* плавное изменение цвета */
    transform 0.7s ease;        /* плавное изменение масштаба и поворота */
}

/* Эффект при наведении курсора */
.box1:hover {
  background-color: #2196F3;    /* изменяем цвет */
  transform: rotate(10deg) scale(1.2); /* добавляем лёгкий поворот и увеличение */
  cursor: pointer;
}

body {
    justify-items: center;
    height: 2000px;
}

/* Задание 3: Анимации с использованием `@keyframes` */


.animated-box {
  width: 120px;
  height: 120px;
  background-color: #df581a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;

  /* Запуск анимации */
  animation: moveAndResize 4s ease-in-out 1s infinite;
  /* 4s — длительность,
     ease-in-out — плавное начало и конец,
     1s — задержка перед стартом,
     infinite — бесконечное повторение */
}

/* Определение ключевых кадров */
@keyframes moveAndResize {
  0% {
    transform: translateX(0) scale(1);
    background-color: #d713e8;
  }
  25% {
    transform: translateX(100px) scale(1.2);
    background-color: #2196F3;
  }
  50% {
    transform: translateY(100px) scale(0.8);
    background-color: #FF9800;
  }
  75% {
    transform: translate(-100px, -50px) scale(1.3);
    background-color: #E91E63;
  }
  100% {
    transform: translateX(0) scale(1);
    background-color: #0ee5da;
  }
}